[2015-10-22 09:58] CarlOlsson opened #1 "Error while following instructions of first px4 build"
I have a new ubuntu 14.04 LTS system and get an error while following the instructions for the first build of the PX4 firmware.

*make px4fmu-v2_default* gives:

CMake Error: Error required internal CMake variable not set, cmake may be not be built correctly.
Missing variable is:
CMAKE_CXX_COMPILER_ENV_VAR
CMake Error: Error required internal CMake variable not set, cmake may be not be built corre

[2015-10-22 10:02] LorenzMeier commented on #1
As we test this on CI this is a problem of your local environment. Please do a fresh clone.

[2015-10-22 10:02] #1 closed

[2015-10-22 15:27] CarlOlsson opened #2 "USB Device Configuration is missing from Linux toolchain installation"
In order to communicate with the Pixhawk I had to follow the instructions for USB device config. here:
https://pixhawk.org/dev/toolchain_installation_lin

I think it should be added to the devguide

[2015-10-23 14:14] LorenzMeier commented on #2
Could you just send a PR?

[2015-10-23 14:24] CarlOlsson commented on #2
Yes will do so

[2015-11-02 16:58] CarlOlsson opened #12 "Permission error when installing gitbook"
**When following the guide to install gitbook, running:**
npm install grunt-cli -g

**gives**
npm http GET https://registry.npmjs.org/grunt-cli
npm http 304 https://registry.npmjs.org/grunt-cli
npm ERR! Error: EACCES, mkdir '/usr/local/lib/node_modules'
npm ERR!  { [Error: EACCES, mkdir '/usr/local/lib/node_modules']
npm ERR!   errno: 3,
npm ERR!   code: 'EACCES',
npm ERR!   path: '/usr/local/lib/

[2015-11-02 17:16] LorenzMeier commented on #12
Depending on what the ubuntu defaults are you might need to use sudo. Please check the nom docs.

[2015-11-02 20:22] andre-nguyen commented on #12
I use Ubuntu and I can confirm that all you have to do is sudo before some of the commands.

[2015-11-02 20:54] CarlOlsson commented on #12
Yes it works with sudo. Just wanted to be sure since the devguide also states:
*Never ever fix permission problems by using 'sudo'. It will create more permission problems in the process and require a system reinstallation to fix them.*

When running the next command: **sudo npm install** I get:
npm ERR! install Couldn't read dependencies
npm ERR! Error: ENOENT, open '/home/carl/Wingtra/px4devguid

[2015-11-04 16:33] LorenzMeier commented on #2
Ping 8)

[2015-11-04 16:33] LorenzMeier commented on #12
It sounds a bit like your local install is bad

[2015-11-06 10:33] CarlOlsson commented on #12
Now I think it works, creating a symbolic link solves the error:
sudo ln -fs /usr/bin/nodejs /usr/local/bin/node

[2015-11-06 10:39] CarlOlsson commented on #2
Unfortunately [the guide](https://pixhawk.org/dev/toolchain_installation_lin) for the USB configuration is now deleted.

[2015-11-08 21:37] felixbouliane opened #15 "advanced-uorb listener command currently deactivated"
The guide says the listener should work using [the `listener` command](http://dev.px4.io/advanced-uorb.html), however, the commit  https://github.com/PX4/Firmware/commit/09fcbde52b7b75d13ecec16358f1890e2ed4b6a7 in master disables this command.
Either
* add a note to documentation to uncomment for usage.
* uncomment the line and reactivate it in the code.

[2015-11-11 15:53] CarlOlsson opened #17 "Permission to PX4/Devguide.git denied"
Tried to push some changes to the devguide and got this back:

remote: Permission to PX4/Devguide.git denied to CarlOlsson.
fatal: unable to access 'https://github.com/PX4/Devguide.git/': The requested URL returned error: 403

Have I done something wrong or do I need to get permission?

[2015-11-11 16:08] LorenzMeier commented on #17
You need to fork it and send a pull request, like usual.

[2015-11-11 16:12] CarlOlsson commented on #17
Yes I have done that

carl@carl-EliteBook:~/Wingtra/px4devguide/Devguide$ git status
On branch added_jlink_debugger
nothing to commit, working directory clean

carl@carl-EliteBook:~/Wingtra/px4devguide/Devguide$ git push origin added_jlink_debugger
Username for 'https://github.com': CarlOlsson
Password for 'https://CarlOlsson@github.com':
remote: Permission to PX4/Devguide.git denied to CarlOlsson

[2015-11-11 16:15] mhkabir commented on #17
You're trying to push to the original repo.

Set up your remotes to have origin as your fork, and upstream as PX4/Devguide.

[2015-11-11 16:18] CarlOlsson commented on #17
Oh sorry! Thanks

[2015-11-15 11:27] LorenzMeier opened #19 "GPS Simulation docs"
We need to document the setup and usage of the GPS simulation system and also ensure that any required code changes make it to master.

[2015-11-16 17:28] devbharat opened #20 "Toolchain Installation Snapdragon Flight"
In the instructions provided in the devguide

    sudo apt-get install gcc-arm-linux-gnueabihf g++-arm-linux-gnueabihf -y
    tar xf Hexagon.LNX.7.2\ Installer-07210.1.tar
    chmod u+x Hexagon.LLVM_linux_installer_7.2.10.bin
    ./Hexagon.LLVM_linux_installer_7.2.10.bin

It isn't really clear where to get the tar file from.

[2015-11-16 21:13] boosfelm commented on #20
i have it, it is uploaded to our drive, technical, resources, snapdragon.
please ping me if anyone else needs the file.

[2015-11-17 02:14] mcharleb opened #21 "No instructions for installing libstdc++-arm-none-eabi-newlib"
There are no C++ header files for the NuttX build unless libstdc++-arm-none-eabi-newlib is installed. I am testing on Ubuntu 15.10.

The following does not work on Ubuntu 15.10:
[code]
as that version of gcc is not available.

[2015-11-17 09:05] devbharat commented on #20
Is it not in public domain ? If not we can add that as a comment in the devguide and close this.

[2015-11-17 09:25] boosfelm commented on #20
not public atm, but I don't know wether it is critical. @LorenzMeier shall we provide a dropbox link and close this here?

[2015-11-18 09:21] LorenzMeier commented on #20
Its not public, so a TODO would make sense there.

[2015-11-18 10:22] LorenzMeier commented on #21
We are not using newlib on NuttX. What is the output for
[code]

For you?

[2015-11-18 11:52] LorenzMeier opened #26 "Add documentation for PX4 Logging format"

[2015-11-18 11:56] LorenzMeier opened #27 "Document takeoff handling for fixed wing and multicopter"
Document operation and params like
LNDFW_VELI_MAX

[2015-11-19 18:47] boosfelm commented on #20
@devbharat can you please add a TODO to the dev guide and point to yourself if someone needs the binary for now.

[2015-11-19 20:43] devbharat commented on #20
Yes

[2015-11-24 10:50] LorenzMeier opened #29 "ROS dev guide issues"
@andre-nguyen few things need to be fixed:

topic/service name: please remove starting /: it prevents namespacing (roslaunch <group ns="">) Also maybe add somewhere note that mavros/ prefix may be different in some advanced configurations (because all topics are in private namespace ~ which expands as <node_name>/, node name may be changed in launch).
Before starting operation better to wait conne

[2015-11-24 18:41] andre-nguyen commented on #29
Sure thing, just to summarize neatly:

[ ] Remove starting "/" to allow namespacing.
[ ] Add tip about the prefix being dependent on the developer's set up.
[ ] Listen in on ~state to check that offboard is enabled and connection to FCU is up.
[ ] Increase topic queue size to 10

For the last point, am I supposed to spawn the service call into another thread?

[2015-11-24 19:25] vooon commented on #29
@andre-nguyen for that example i think nope, but that one thing that developer should keep in mind.
Another possible way is opposite: make talker thread for setpoint.

[2015-11-28 08:07] #29 closed

[2015-11-28 16:02] andre-nguyen opened #33 "Move files to git-lfs?"
Git doesn't really play nice in terms of repo size when dealing with binary files. Maybe we should host images and archives on git LFS before things get out of hand? As I understand it, everyone on GitHub gets 1GB of storage for free.

[2015-11-28 17:11] mhkabir commented on #33
+1

[2015-12-15 11:52] nephen opened #34 "The make problem on ubuntu 15.10"
I got it by manual re installing gcc-arm-none-eabi 4.8 on ubuntu 15.10, now I can make firmware completely
[code]

[2015-12-16 10:43] Pykercao commented on #20
Hi,boosfelm
I'm a Amateur player of PX4, the same problem I met when I build development environment on Ubuntu.Could you send Hexagon.LNX.7.2 to me?
Best Regards

[2015-12-16 17:37] boosfelm commented on #20
@devbharat can you do it? Thanks

[2015-12-16 17:54] mcharleb commented on #20
You can request the SDK from https://developer.qualcomm.com/software/hexagon-dsp-sdk/application

[2015-12-17 13:36] Pykercao commented on #20
@mcharleb That means I can get Hexagon.LNX.7.2 from https://developer.qualcomm.com/software/hexagon-dsp-sdk/application if I request?

[2015-12-17 13:42] Pykercao commented on #20
Does anyone have Hexagon.LNX.7.2 ? Who can send the file to me ? I'm in urgent need of the file.
Best Regards,
Pykercao

[2015-12-17 15:04] nephen opened #37 "add openjdk-7-jdk openjdk-7-jre"
After test, on the ubuntu 15.10 should be:
sudo apt-get install ant openjdk-7-jdk openjdk-7-jre

[2015-12-17 17:24] mcharleb commented on #20
@Pykercao It may take a day or so to get the tools after you fill out the form.

[2016-01-05 16:10] kd0aij opened #43 "QtCreator functionality and documentation"
Since QtCreator is the officially supported IDE, we need better instructions on how to use it.
As an example, here's a screenshot showing that a C macro isn't recognized as a symbol by QTC:
![qtc_wtf](https://cloud.githubusercontent.com/assets/2300221/12119893/92eff85e-b38b-11e5-9ccd-6be0ed7b5354.png)

And here's the result with Eclipse/CDT4 (note that it recognizes the symbol and tells you where

[2016-01-06 04:20] julianoes opened #45 "Explain stack sizes"
Explain where the stack sizes for the modules and the spawn processes are defined.

[2016-01-06 09:06] LorenzMeier commented on #45
See https://github.com/PX4/Devguide/commit/bad2315c1a10d2d2a3c0959af7882fbc2e6a8d2e. Probably needs additional detail.

[2016-01-09 22:31] nopeppermint opened #48 "a somehow broken link"
@LorenzMeier
On page http://dev.px4.io/starting-initial-config.html the Link to "QGroundControl Tutorial" is somehow not "translated" and points to http://dev.px4.io/qgroundcontrol-intro.md instead of http://dev.px4.io/qgroundcontrol-intro.html

It's no a typo in https://github.com/PX4/Devguide/blob/master/book/starting-initial-config.md as the link to QGroundcontrol a few lines above is exactly t

[2016-01-09 22:53] nopeppermint commented on #48
solved by https://github.com/PX4/Devguide/commit/fcf5dd2f228cc3cca6db09b760e462b38b891708

[2016-01-09 22:53] #48 closed

[2016-01-10 10:53] gokoreas opened #51 "gazebo sitl build problem following instructions"
I have been following the instructions in http://dev.px4.io/starting-installing-linux.html

However, I get the following error

I thought maybe it was the error in my CMake but I cannot solve the problem

![screenshot from 2016-01-10 19 47 57](https://cloud.githubusercontent.com/assets/5248102/12221210/b07d092e-b7d3-11e5-9c2b-503b7efb7166.png)

[2016-01-10 16:04] kd0aij commented on #43
Opened Firmware/CMakeLists.txt in QtCreator again today after using Eclipse for a week, and now it recognizes that macro. Perhaps there was a long background process running the C indexer? The Qt IDE didn't appear to be doing any background work either time.

Anybody know if there's a Qt equivalent to the "refactor method signature" in Eclipse/Java?

[2016-01-11 13:11] AndreasAntener opened #56 "Rendering it locally with correct styles"
@LorenzMeier
Why does has Travis to copy the following style sheets? Can't we just put them there?

[code]

If I want to do the preview with the correct styles locally I also need to copy those.

[2016-01-11 13:23] LorenzMeier commented on #56
Makes sense. Something is not quite right about the template.

[2016-01-11 16:16] felixbouliane commented on #15
The note `The 'listener' command is only available on Pixracer (FMUv4) and Linux / OS X.` was added.

[2016-01-11 16:16] #15 closed

[2016-01-13 03:25] julianoes opened #59 "Update the template"
A start would be to just link the search button to a google search containing: ```site:dev.px4.io```

[2016-01-13 03:33] andre-nguyen commented on #51
Did you install the entire toolchain? Not having a C compiler sounds fishy...

[2016-01-13 10:51] LorenzMeier opened #60 "Sapog docs"
Documentation build instruction omits necessary command:

git clone https://github.com/PX4/sapog
cd sapog
ADD >>> git submodule update --init --recursive <<< ADD
cd firmware
make sapog.image

[2016-01-13 10:55] #60 closed

[2016-01-13 10:56] #17 closed

[2016-01-13 10:56] #12 closed

[2016-01-13 10:56] #2 closed

[2016-01-13 10:56] #21 closed

[2016-01-13 10:56] LorenzMeier commented on #37
done, thanks!

[2016-01-13 10:56] #37 closed

[2016-01-13 10:56] #45 closed

[2016-01-13 10:58] LorenzMeier commented on #59
Gitbook has it. Its just the 3DR template which is broken because of the local hackery. @kaitlynhova You must be running into the same issue with the 3DR dev guide - how did you resolve it?

[2016-01-15 13:04] gokoreas commented on #51
I have solved the problem :)

I solved it by reinstalling the tool chain installation

I also had problems uninstalling gazebo 2.3 and installing gazebo 6 in indigo

[2016-01-15 13:04] #51 closed

[2016-01-22 02:29] rgreid commented on #20
Once we have access to this page: https://developer.qualcomm.com/software/hexagon-dsp-sdk/tools where should we look to get access to 'Hexagon.LNX.7.2\ Installer-07210.1.tar' ?

I have already downloaded 'qualcomm_hexagon_sdk_2_0_eval.bin' however I'm getting strange errors building with Hexagon Tools v6.4.06

[2016-01-22 03:50] mcharleb commented on #20
Send me your email  (charlebm@gmail.com) and I'll have someone send you the Hexagon.LNX.7.2\ Installer-07210.1.tar file.

[2016-01-22 03:56] mcharleb commented on #20
@rgreid I sent a request for you and cc you on the email.

[2016-01-22 22:31] tumbili opened #67 "Reminder: Flight Mode"
Stabilise for fixed wing does not appear in the flight mode description.

[2016-01-24 01:04] kaitlynhova commented on #59
Hey @LorenzMeier ! Actually,  I think Tim (tim@3drobotics.com) would be more familiar with this. I'll check in with him to see how he did it. Here is his [github profile](https://github.com/tcr3dr)

[2016-01-27 23:37] chutsu opened #68 "Mavros FCU connection problem in Gazebo"
tdlr: The docs need updating!

Having followed your docs simulating the firmware using Gazebo (link [here](http://dev.px4.io/simulation-ros-interface.html)), I and others (mavros issue [here](https://github.com/mavlink/mavros/issues/476)) have failed to connect `mavros` to obtain data from ros topics (e.g. /mavros/altitude etc..).

The reason for this as github user `nachi1992` has pointed out, th

[2016-01-31 10:22] ilia-sheremet commented on #68
But isn't `14550` port for QGC, and `14540` for ROS? It worked for me like that before, now something has changed.

[2016-02-01 06:39] kPanesar commented on #68
I have the same issue actually. Only port 14550 works for me. Is there a way to change the port when running the simulation?

[2016-02-01 13:07] nachi1992 commented on #68
I can now interface to ROS on 14540 and also connect to QGC at the same time. I just updated my px4 firmware repository to the latest one and it worked.

[2016-02-01 16:07] julianoes commented on #68
@nachi1992 Thanks for the feedback. This is now fixed with https://github.com/PX4/Firmware/commit/86c8308e984a45a689230fd611542b453a18ecd4

[2016-02-01 16:07] #68 closed

[2016-02-08 19:05] smnogar commented on #20
I am also in need of this file. I would very much appreciate it if someone could send me a link.

[2016-02-15 08:04] LorenzMeier opened #86 "Add code examples (PWM out, uORB, etc)"
Need to port these over:
https://pixhawk.org/dev/tutorials/start#code_examples

[2016-02-15 19:32] andre-nguyen opened #87 "Experimental aircraft page broken"
http://dev.px4.io/airframes-experimental.html

The youtube video does not seem to exist anymore.

[2016-02-15 19:54] petermccloud opened #88 "Linux Build Instructions Interpretation"
I know this is a nit, but in the Linux installation directions at:
http://dev.px4.io/starting-installing-linux.html

The instructions can be interpreted ambiguously. I was going through the instruction on the page beginning right at installation, before going into the hardware specific commands.
The line for installing the simulations tools, wraps around and I initially interpreted it as two separ

[2016-02-15 20:02] julianoes commented on #88
Hm, it is actually only one line, and just the formatting that wraps it.

[2016-02-16 09:14] julianoes commented on #59
@tcr3dr our search button is broken. Any advice how to get it back? Thanks.

[2016-02-19 17:51] LorenzMeier opened #94 "Add instructions how to add a model in Gazebo and read its output in ROS"
We need these:
```roslaunch gazebo_ros empty_world.launch``` and ```rosrun gazebo_ros spawn_model -file iris.sdf -sdf -model iris```

This file as example:
https://github.com/andre-nguyen/sitl_gazebo/commit/0b0c5e09e46030d8780803d7be1999ad9a599e88

@psiorx @andre-nguyen It would be fantastic if you could help out here and get that covered properly in the docs. I had a student trying to do essentia

[2016-02-19 19:16] #94 closed

[2016-02-19 22:03] andre-nguyen commented on #94
With regards to adding a sensor to the simulation, I will wait for @psiorx to test out the code I linked him before documenting it.

Its pretty straightforward when you look at the docs in Gazebo, but there's always a bit of fiddling involved.

[2016-02-22 08:43] LorenzMeier opened #97 "Snapdragon: Clarify where to get SDK files"
@mcharleb The instructions here are very unclear when it comes to *where* to get all those files. It would be important to clarify this and make sure all the required files become available:
http://dev.px4.io/starting-installing-linux.html#snapdragon-flight

[2016-02-22 09:06] LorenzMeier commented on #20
The file is available from Intrinsyc. We're working with Qualcomm to get it into the normal SDK tools space. Issue to track this is https://github.com/PX4/Devguide/issues/97

[2016-02-22 09:06] #20 closed

[2016-02-23 08:47] ChristophTobler opened #101 "long lines of code not fully displayed"
long lines of code are not fully displayed in the dev guide (see e.g. http://dev.px4.io/starting-building.html). But they are on github (see e.g. https://github.com/PX4/Devguide/blob/master/book/starting-building.md)

[2016-02-23 16:38] julianoes opened #103 "Instructions how to troubleshoot Snapdragon"
We need instructions how to do a factory reset for the Snapdragon Flight, as well as how to get it into fastboot mode.

[2016-02-23 17:24] #101 closed

[2016-02-24 13:44] jywilson opened #104 "Unable to make a pull request..."
Using my account jywilson, I am unable to make a pull request.  I get an http 403 error.  Do I have permissions to make a pull request?

[2016-02-24 14:48] mhkabir opened #106 "Snapdragon : Camera API and docs"
Need to add docs on using the ```qcamvid``` application and ```camera-test``` application. This is already done in my personal notes, will clean up and send in docs soon. These applications are OK for basic testing, but not for anything like actual FPV or control. Latencies are too high, RTSP stream is non-optimal and output to stdout is broken for me.

There is also currently no way for a Linux a

[2016-02-24 14:48] mhkabir commented on #104
Resolved? https://github.com/PX4/Devguide/pull/105

[2016-02-24 14:52] mhkabir commented on #97
It would be great if we can get this up soon. It is currently impossible for a person bringing up the board to get the toolchain up and running for the Flight, even after registering, signing license agreements and getting access to the downloads.

Especially, ```Hexagon.LLVM_linux_installer_7.2.10.bin``` seems to be unavailable from any source, and I've been blocked on this for ~3 days.

[2016-02-24 16:17] mcharleb commented on #97
@mhkabir I just made a request to have the 7.2.10 toolchain set to you

[2016-02-24 16:18] mhkabir commented on #97
@mcharleb, many thanks! :)

[2016-02-24 16:23] LorenzMeier commented on #97
Mark, is there a way to make this less one-off, or fix our docs so that step is explained better?

[2016-02-24 16:49] mcharleb commented on #97
People can contact me if they need access to the toolchain for PX4 development.

[2016-02-24 20:21] mcharleb commented on #97
The link is back up:

https://developer.qualcomm.com/software/hexagon-dsp-sdk/tool-request

Interested parties can fill in the form to request Hexagon.LLVM_linux_installer_7.2.10.bin

[2016-02-24 20:52] mcharleb commented on #106
@mhkabir The Libcamera API is documented in following interface header files

hardware/qcom/camera/libcamera/inc/*.h

camera-test and camera-daemon (both are open-source) can be used as reference applications for this API. Camera-test is smallest working example of getting preview/video callbacks using libcamera API.

The camera-daemon source is in hardware/qcom/media repo. That contains Doxygen d

[2016-02-25 00:43] mhkabir commented on #106
@mcharleb Thanks a lot! This should get me up and running :)

I'd managed to reverse engineer my way to the Android libraries, but your links are gold. Thanks!

[2016-02-25 07:19] mhkabir commented on #106
@mcharleb I had a look at the repos. Looks like they are all Android implementations. I also did a search directly on CodeAurora, but couldn't find any Linux libcamera repo.

[2016-02-25 09:04] devbharat commented on #106
If plane vanilla v4l2 driver is available for the camera, then the way I have been accessing images with (for example IMX6) is through gstreamer stream piped into ROS handling both triggered-snapshot and streaming modes while also handling timesync to clock from an external controller like pixhawk. I can make the code available, all it requires is support for gstreamer in the image, and v4l2 drive

[2016-02-25 09:10] mhkabir commented on #106
As far as I know, the camera has no V4L2  drivers available.

I think we have a workable solution coming up soon. Will keep this thread
updates.
On 25 Feb 2016 2:34 pm, "Bharat Tak" <notifications@github.com> wrote:

[2016-02-25 18:54] mcharleb commented on #106
@mhkabir The following link is for non-android libcamera Makefile.am

https://codeaurora.org/cgit/quic/le/platform/hardware/qcom/camera/tree/libcamera/Makefile.am?h=LNX.LER.1.0

There are no fully compliant V4L2 drivers that would work with gstreamer.

[2016-02-27 11:13] julianoes opened #109 "Instructions how to build for eagle"
We need instructions how to build the Linux image for the Snapdragon Flight, and how to flash it using fastboot.

[2016-02-27 11:14] LorenzMeier commented on #109
@mcharleb @jywilson FYI: We need good instructions in the dev guide so the platform becomes consumable.

[2016-02-27 11:15] #104 closed

[2016-02-27 11:23] LorenzMeier commented on #97
I fixed the docs. Mark, you can use the edit icon in the docs to edit a page in-place without sending a PR. I would appreciate if this could be done as things change and not get pushed back. Documentation is not a separate job, but part of the development cycle. Thanks!

[2016-02-27 11:23] #97 closed

[2016-03-10 00:40] tubeme commented on #67
As well as Acro mode for fixed wing des not appear. Actually Manual in FW = Stabilized flight, while we have to switch to Acro in order to have real Manual Flight.
Her is what it is now:

MANUAL
Fixed wing aircraft/ rovers / boats: The pilot's control inputs are passed directly to the output mixer.

Multirotors:

ACRO: The pilot's inputs are passed as roll, pitch, and yaw rate commands to the auto

[2016-03-10 00:48] tubeme commented on #67
I'm thinking how to explain the modes in the users manual with icon graphics since last week. And I try find a way to explain it to a person that does not have any knowledge on drones. And believe me I cannot figure it out how to do it. I think the system will become monster with thousand of modes and sub modes and sub modes and yes for me that is very good but for the novice it is not.

The main

[2016-03-10 05:12] GervaisK commented on #67
Am 2016-03-10 01:48, schrieb tubeme:

No, DJI is using MANUAL (which is Stabilize in fact), ATTI (AltCtl), GPS
since the GPS for the NAZA came out.Before that it was MANUAL and ATTI.
Recent Phantom 4 is coming with P (Position),S (Sport), both GPS modes,
A (ATTI)

Althold , or AltCtl. is mandatory as a training/trial Flight Mode esp.
for new builds or beginners, which usually know little and tend

[2016-03-10 10:57] tubeme commented on #67
@GervaisK

I moved the issue here https://github.com/PX4/Firmware/issues/3967

Yes you are correct. Probably with that modes I got got introduced to their controllers. So most people I know use GPS, Atti, RTH. Most people that fly manual i know don't use DJI. And yes I agree AltCtl is mandatory for closed environments where there is no GPS signal.

DJI changed their GPS name convention, because th

[2016-03-13 17:15] kd0aij opened #116 "new single channel flight mode selection"
How does this method of specifying flight mode affect the flowchart on this page? http://dev.px4.io/concept-flight-modes.html

[2016-03-13 17:23] LorenzMeier commented on #116
Not at all. Would be great if you could update the docs to reflect that in single channel mode anything can be chosen.

[2016-03-13 18:25] kd0aij commented on #116
what happens if main_state_transition() returns TRANSITION_DENIED?

[2016-03-18 15:26] johnfinley commented on #109
This problem seemed close enough for this issue. In https://github.com/PX4/Devguide/blob/master/book/starting-building.md, down at `make mainapp-load`, there is no makefile there. I manually did the commands in the build.ninja file and it worked; I assume there is a new way to do them via build.ninja, but I don't know what to do with that file. Similar for the `make libmainapp-load`. Otherwise eve

[2016-03-18 15:34] liamstask commented on #109
`ninja mainapp-load` and `ninja libmainapp-load` work for these, fwiw

[2016-03-18 19:06] julianoes commented on #109
@johnfinley I don't quite get what you mean. Are you saying this command does not work for you?

[code]

[2016-03-18 19:26] johnfinley commented on #109
Correct; the "make mainapp-load" does not work because there is no makefile. "ninja mainapp-load" works.

[2016-03-18 20:23] mcharleb commented on #109
If you are building with ninja, what you suggest is likely true but not at all true if you are not using ninja.

[2016-03-18 20:27] liamstask commented on #109
`make posix_eagle_default` runs cmake with the ninja generator, so with the current instructions, ninja is indeed being used.

[2016-03-18 20:36] mcharleb commented on #109
Unless you don't have ninja installed...

[2016-03-18 20:42] liamstask commented on #109
the plot thickens!

sounds like adding a note that these commands may differ based on whether ninja is installed would be helpful.

[2016-03-18 20:46] julianoes commented on #109
Ok I'm obviously completely ignorant of ninja. So is the build system somehow using ninja if it is available. Is that a feature of cmake or of PX4?

[2016-03-18 21:04] liamstask commented on #109
px4, i believe

[2016-03-18 21:17] dagar commented on #109
It's a check in the px4 top level Makefile. If you want to try it just install ninja and delete your existing build_* directories.

[2016-03-18 22:09] julianoes commented on #109
Thanks @dagar, found it: http://dev.px4.io/starting-installing-linux-boutique.html#ninja-build-system

[2016-03-24 13:38] Dhoeller19 commented on #106
Dear all ( @mhkabir @mcharleb )
I am also working with the libcamera API. I am able to run the camera_test code on the snapdragon and I get nice images.

I am working with the camera preview and I would like to increase the FPS to 60. When I start my program,  the code prints the correct FPS : "setting preview fps range: 60000, 60000 ( idx = 3 )"  but when I print the measured fps value pFpsAvg_ (

[2016-03-24 13:44] joaonatividade commented on #20
Hi guys! I'm still trying to find the "Hexagon.LNX.7.2 Installer-07210.1.tar" file. Can you help me with this? I need it in order to start programming with my PX4.

Thanks in advance,

João Natividade

[2016-03-24 13:45] LorenzMeier commented on #20
Please contact @mcharleb.

[2016-03-29 16:49] ghtdak opened #123 "Terry Guo's gcc-arm-embedded PPA now needs special handling"
On Ubuntu 15.10, the stock gcc-arm-none-eabi package from Canonical will replace the one from Terry Guo's PPA (ppa:terry.guo/gcc-arm-embedded) unless it is marked "held".

If doing a first time install, it is necessary to specify Terry's build with additional information.  On 15.10 (Wily) I used the following:

`sudo apt-get install gcc-arm-none-eabi=4.9.3.2015q3-1wily1`
`sudo apt-mark hold gcc-ar

[2016-04-01 08:12] mhkabir opened #125 "Add docs for IO interfaces"
We need to add docs for i2c, UART, CAN, etc.

These topics are viewable on the sidebar, but don't actually exist. Confusing for new users, since they're greyed out.

[2016-04-01 09:00] sgh055 opened #126 "Want docs for IO"
Some topic are viewable(i2c, pwm, uart...)  on the sidebar, but I can't access these.

how can i access there? I need information.

[2016-04-01 16:08] dustingooding opened #128 "describe preconditions for entering/exiting each mode"
the mode flow diagram (http://dev.px4.io/concept-flight-modes.html) helps, but is insufficient.  it doesn't describe what's required to enter a state or help debug unexpected state changes.  for example, if I want to mode to AUTO_LOITER and it instead goes to AUTO_RTGS, i have no real insight into why my request was interpreted differently.

[2016-04-01 21:59] mhkabir commented on #126
Sandra's #125

[2016-04-01 21:59] #126 closed

[2016-04-06 03:09] mcharleb commented on #125
Hi Kabir,

Here's the only one that turned out.

-Mark
On Apr 1, 2016 1:12 AM, "Kabir Mohammed" <notifications@github.com> wrote:

[2016-04-06 12:26] mhkabir commented on #125
@mcharleb I have a feeling that I know what you meant to do here, but it came out on Github somehow.

Could you email me at mhkabir98@gmail.com :)

[2016-04-12 00:47] priseborough opened #134 "EKF2 replay instructions out of date"
The EKF2 replay instructions for changing parameters are out of date as they do not mention use of the replay_params.txt file

[2016-04-12 06:35] tumbili commented on #134
Fixed

[2016-04-12 06:35] #134 closed

[2016-04-13 21:21] skye-AL commented on #109
Hi all!
A bit off-topic, but fitting this issue _Instructions how to build for eagle_:
With the current aDSP image provided by Intrinsyc, the eagle_default build fails to run on the board. A newer aDSP image needs to be used. Therefore @LorenzMeier , @julianoes , @mcharleb , is it possible to make this image somehow available such that developers don't waste time trying to make it run? I wanted to

[2016-04-15 13:44] ChristophTobler commented on #106
@Dhoeller19 We encounter the same. But at the moment it is not a big concern since we are using the optical flow camera.
Hopefully they fix it...

[2016-04-15 14:05] mhkabir commented on #106
Not an issue likely. Probably you cannot do that framerate due to the exposure timings.
Try doing manual shutter and reduce your integration time to something that  can sustain 30Hz.

[2016-04-15 15:38] Dhoeller19 commented on #106
Thanks for your answers. This is also what I suspected but setting these values does not seem to be supported yet.

[2016-04-20 12:12] skye-AL opened #137 "Snapdragon: Missing Documentation on the Advanced Power Module Cable (APM)"
I couldn't find any documentation on the APM power module provided with the snapdragon flight kit except for the one here:
[https://developer.qualcomm.com/hardware/snapdragon-flight/board-specs](url)
Does anyone know how to interface via I2 to read out voltage and current?

[2016-04-21 06:17] julianoes commented on #137
Thanks for the issue, I had that in my mind as well.

[2016-04-21 06:18] julianoes commented on #109
This was done a while ago. It's now as easy as `make eagle_default upload`.

[2016-04-21 06:18] #109 closed

[2016-04-21 06:24] julianoes commented on #34
Thanks for raising this. On Ubuntu 15.10 arm-none-eabi 4.9.3 instead of 4.8.4 is installed, we need to consolidate this.

@LorenzMeier What do you thing?

[2016-04-22 18:57] bys1123 opened #143 "Is there a good way to translate the User Guide"
Hello, this is from china translator team, we've emailed Lorenz, but not get reply yet. Sorry if I put this in a wrong place.
This devguide is very friendly for translation, we can use the same way as ardupilot_wiki. but we don't know what is the license of User Guide.

[2016-04-23 01:17] mhkabir commented on #143
Content license: CC-BY, (c) PX4 Project

[2016-04-23 20:54] kd0aij commented on #43
closed due to lack of interest

[2016-04-23 20:54] #43 closed

[2016-04-23 20:56] kd0aij opened #144 "need instructions on how to arm via RC"

[2016-04-26 03:36] chenbinpeng commented on #20
I have the same problem with Pykercao, Could someone send Hexagon.LNX.7.2 to me? Thanks very much!(cbp@gezhuzi.com)

[2016-04-26 23:07] ustbguan commented on #125
I can't agree with you any more.

[2016-04-27 06:01] julianoes commented on #103
Done, closing.

[2016-04-27 06:01] #103 closed

[2016-04-27 06:04] julianoes commented on #59
Bump! Anyone?

[2016-05-01 11:02] Dhoeller19 commented on #106
I try to change the exposure time of the camera via the set command
`params_.set("exposure-time","some_number"); ` .
 But this command does not seem to have any effect on the recordings. Is this really supported yet or could you give me some pointers on how to implement this ? @mhkabir @mcharleb
Thank you very much,
David

[2016-05-06 21:21] eraustud opened #149 "Bracketed text hidden by browsers on concept-mixing.md"
@LorenzMeier
[concept-mixing.md] (https://github.com/PX4/Devguide/blob/master/book/concept-mixing.md "Concept Mixing") has some of its bracketed text hidden by browsers because it is encased in `<angle brackets>` that browsers interpret as HTML tags. This makes it very confusing/impossible to read.

Fixed markdown and submitted pull request. Please let me know if it needs adjustment (first-time co

[2016-05-11 05:54] Userskii opened #151 "problems with debugger"
Hi, I have just run the SITL simulantion using the command
$ make posix_sitl_default gazebo_gdb
Howerer in the command line it said

~/src/Firmware$ make posix_sitl_default gazebo_gdb
PX4 CONFIG: posix_sitl_default
make[1]: *** No rule to make target `gazebo_gdb'.  Stop.
make: *** [posix_sitl_default] Error 2

Do I miss something or do I have to modify some path? I can run a full simulation withou

[2016-05-12 03:53] kartikmohta commented on #20
Just to let you know, the `Hexagon SDK v2.0 Add-On for HVX - Linux` download on https://developer.qualcomm.com/software/hexagon-dsp-sdk/tools contains the Hexagon Tools v7.2.10. Just run it as `sh qualcomm_hexagon_sdk_hvx_addon_2_0_eval.bin` and it starts up the installer for the Hexagon Tools.

[2016-05-12 06:06] mcharleb commented on #20
Thanks! I'll update the docs.

[2016-05-12 10:16] julianoes opened #154 "Debugging instructions don't work"
I would like to use gdb to debug SITL, however the instructions http://dev.px4.io/simulation-debugging.html don't seem to work anymore:

[code]

[2016-05-12 18:39] dagar commented on #154
`make posix_sitl_default gazebo___gdb` is what I've been using. It's pretty confusing though.

[2016-05-18 16:34] bkueng commented on #26
#156 resolves this

[2016-05-18 16:46] #26 closed

[2016-05-20 05:32] parvu commented on #144
Throttle stick down yaw right

[2016-05-20 05:36] parvu opened #160 "Can't build PX4 firmware for snapdragon"
Help please. When trying to buil the firmware by "make eagle_default" I get the following error(s):

PX4/Firmware/build_posix_eagle_default/src/firmware/posix/px4muorb_stub.c:496:34: error: no previous prototype for ‘_px4muorb_handle’ [-Werror=missing-prototypes]
 __QAIC_STUB_EXPORT remote_handle _px4muorb_handle(void) {
                                  ^
compilation terminated due to -Wfatal-err

[2016-05-20 06:41] LorenzMeier commented on #144
These don't belong into the dev guide, but the user guide. The dev guide should refer to the user guide for basic operation.

[2016-05-20 08:57] intijk opened #161 "A typo which cause the html error."
in book/simulation-gazebo.md, line 87
[code]
This should be
[code]
to close the tag.

This problem cause the doc page http://dev.px4.io/simulation-gazebo.html not rendered correctly.

[2016-05-20 19:49] LorenzMeier commented on #161
Thanks, fixed in https://github.com/PX4/Devguide/commit/a06b7c2344fec88ff6dc743fcc3fbaa5db16972f. You can actually edit the document and send the edit as a PR right in the dev guide.

[2016-05-20 19:49] #161 closed

[2016-05-20 19:49] LorenzMeier commented on #149
Thanks for fixing this!

[2016-05-20 19:49] #149 closed

[2016-05-26 18:55] julianoes commented on #154
This has been updated, thanks.

[2016-05-26 18:55] #154 closed

[2016-06-02 07:57] bys1123 opened #170 "F437 or F427 on PixFalcon?"
In devguide says it's F437, but other websites all say it's F427

[2016-06-13 17:04] LorenzMeier commented on #2
Thanks!

[2016-06-15 12:37] julianoes commented on #1
Bump @LorenzMeier .

[2016-06-15 13:50] LorenzMeier commented on #1
Sorry, thanks!

[2016-07-13 19:12] julianoes commented on #59
Resolved with move to gitbook.

[2016-07-13 19:12] #59 closed

[2016-07-27 13:10] julianoes commented on #34
Old, closing.

[2016-07-27 13:10] #34 closed

[2016-07-27 13:21] julianoes commented on #160
@parvu Is this still an issue? Sorry this got lost because it was a devguide issue instead of a firmware issue.

[2016-07-27 13:21] julianoes commented on #151
The correct semantic has 3 underscores.

`make posix_sitl_default gazebo___gdb`

[2016-07-27 13:21] #151 closed

[2016-07-27 13:21] #144 closed

[2016-07-27 13:22] julianoes commented on #143
https://github.com/PX4/Devguide#license

[2016-07-27 13:22] #143 closed

[2016-07-27 13:23] julianoes commented on #125
@mhkabir can you please move this issue over to https://github.com/PX4/Devguide.

[2016-07-27 13:25] julianoes commented on #128
@dustingooding could you port this issue to https://github.com/PX4/Devguide please? Thanks.

[2016-07-27 13:25] mhkabir commented on #125
Done

[2016-07-27 13:25] #125 closed

[2016-07-27 13:36] julianoes commented on #33
I'd argue that's not a problem at this scale for this devguide.

[2016-07-27 13:37] julianoes commented on #56
Closing, since it's moved to gitbook.

[2016-07-27 13:47] #56 closed

[2016-07-27 13:56] julianoes commented on #27
That's covered in https://pixhawk.org/firmware/parameters, right?

[2016-07-27 13:56] julianoes commented on #88
Resolved in new gitbook.

[2016-07-27 13:56] #88 closed

[2016-07-28 06:17] #87 closed

[2016-07-28 06:46] LorenzMeier commented on #21
Nice!

[2016-07-28 06:46] #170 closed

[2016-07-28 06:58] LorenzMeier commented on #17
I'm just installing gazebo7 on Mac. Its a build from source which is sort of annoying.

[2016-07-28 13:55] LorenzMeier commented on #17
I did build it, some protobuf related build failures. Will report back.

[2016-07-28 14:21] jgoppert commented on #17
I can confirm gazebo-7 + ubuntu 16.04  works. The protobuf version has to be > 2.5 and < 3.0.

[2016-07-28 15:16] LorenzMeier commented on #17
Yep, also works on 16.04 with Gazebo 7 and ROS Kinetic here.

[2016-07-31 14:53] LorenzMeier commented on #17
And fixed Mac OS.

[2016-07-31 14:57] LorenzMeier commented on #17
Rebased and applied.

[2016-08-02 12:15] LorenzMeier commented on #26
Nice!

[2016-08-03 06:01] julianoes commented on #27
@pzoom great, thank you!

[2016-08-18 07:46] bkueng commented on #33
Thanks!

[2016-08-18 08:05] junhohan commented on #33
@bkueng Welcome! 👍

[2016-08-27 20:54] LorenzMeier commented on #37
You don't have a flight video by chance which we could embed here?

[2016-08-27 21:33] dennisss commented on #37
It's a bit rough right now (https://youtu.be/jD7XJkyekpQ), drivers seem to be working, but I'll need to do some PID tuning to get an 'embed-able' video. I think it's the only quad in it's size class on PX4, so I've started with the default settings which are a bit high.

[2016-08-29 01:38] dennisss commented on #37
Updated with a better short video of manual flight. PID gains updated in original Firmware PR.

[2016-09-28 06:04] mahesha-path opened #177 "Cant build PX4 filmware on snapdragon"
while running the command "  make eagle_default "  i faced these errors

anuj.gupta@CPU-291U:~/src/Firmware$ make eagle_default
PX4 CONFIG: /home/anuj.gupta/src/Firmware/build_posix_eagle_default
[  1%] [  1%] Built target git_gencpp
Built target git_genmsg
[  4%] Built target df_driver_framework
[  4%] Built target prebuild_targets
[  4%] [  5%] [  6%] Built target git_mavlink
Built target git_ua

[2016-09-28 10:23] mhkabir commented on #177
Please avoid creating duplicate issues across repositories for the same issue.
Please refer to the issue in Firmware in the future.

[2016-09-28 10:23] #177 closed

[2016-10-02 11:18] jiapei100 opened #178 "npm install brings me " no such file or directory""

[2016-10-02 17:42] julianoes commented on #178
This repo is deprecated, the devguide has moved to https://github.com/PX4/Devguide/issues/.
Sorry about that.

[2016-10-02 17:42] #178 closed

[2016-10-03 09:51] LorenzMeier commented on #48
Gitbook test failed

[2016-10-03 10:28] bkueng commented on #48
saw that, but I think it's the gitbook installation. I wouldn't know which of my changes could have caused that.

[2016-10-03 11:37] julianoes commented on #48
@bkueng Can you rebase and force push to trigger another build? Or ammend something to the last commit to change the hash.

[2016-10-03 12:22] bkueng commented on #48
all good now

[2016-10-18 20:27] LorenzMeier commented on #56
Thanks!

[2016-10-21 06:09] julianoes commented on #60
Thanks @dagar!

[2016-10-21 06:09] julianoes commented on #59
Looks correct.

[2016-10-21 15:12] davids5 commented on #60
Thank you @dagar  !

[2016-11-24 16:40] vilhjalmur89 commented on #67
Looks good.

[2017-01-27 15:53] bkueng commented on #86
Can you mark the pins?

[2017-01-27 17:57] ChristophTobler commented on #86
Yes. I'll do that

[2017-02-04 23:02] dagar commented on #87
hmm, I used the gitbook editor to make the change and it looks like it altered some white space as well. I'll review/cleanup.

[2017-02-05 00:57] dagar commented on #87
Gitbook editor whitespace changes seem to be harmless or for the better.

Please review.

[2017-02-05 14:10] LorenzMeier commented on #87
I generally prefer their web editor because the integration is a lot easier.

[2017-02-11 12:52] LorenzMeier commented on #87
Github sync from Gitbook is broken again. It might be worthwhile to try to use the web editor from Gitbook until we figured that one out.

[2017-02-11 18:17] dagar commented on #87
I think the only solution is to force the sync one way or the other and then manually restore anything that was lost.

[2017-03-21 15:50] lucasdemarchi commented on #97
@LorenzMeier

I think we also need to change the picture on this page. I'm not comfortable with doing it without having a way to visualize the change though.

[2017-03-22 21:20] lucasdemarchi commented on #97
Fixed the picture.

[2017-04-02 10:07] LorenzMeier commented on #106
Nice, thanks!

[2017-04-05 22:42] hamishwillee commented on #109
@bkueng Can you please review/comment on this.

[2017-04-06 07:43] hamishwillee commented on #109
Awesome! You only have to look at a page like https://dev.px4.io/starting-installing-linux.html to see the benefits :-)

[2017-04-06 07:44] whyscience commented on #109
Awesome!

[2017-04-06 07:58] bkueng commented on #109
👍 Really nice

[2017-04-11 00:01] hamishwillee commented on #116
This is excellent. It is a precondition for multi-lingual installation that images are (at least by default) outside of the docs tree. That allows all translations to use the common image, but create their own image tree or have local images for translated pictures.

[2017-04-26 02:33] hamishwillee commented on #128
HI @FantasyJXF

I will discuss with @bkueng and @LorenzMeier if there are any other gating requirements, but IMO this looks really good. I will add any additional tracking information as a "post process".

Does this PR replace your previous PR #127 ?

For your information you do not need to submit a new PR for every change. What you could have done is committed changes to your branch, and these wo

[2017-04-26 02:40] FantasyJXF commented on #128
My bad, I didn't think too much, maybe you should close the other PR and this one is more complete since its the leastest one.

Next time I will remember that.

[2017-04-27 22:39] hamishwillee commented on #128
So this looks OK - ie that you have committed on top of just one PR rather than opening a separate one (there is a time and a place for multiple separate PRs but usually all "related" changes should go in just one)

There are a couple of different types of ways of merging. The preferred way for merging with master is to use what is called a rebase. What this does is pull in the current master and

[2017-04-27 22:41] hamishwillee commented on #128
@LorenzMeier Can you confirm there are no gating factors for me to merge the first Chinese translation? @bkueng is OK with this.

[2017-05-01 00:21] hamishwillee commented on #128
Closing - superceded by #131

[2017-05-16 21:13] DonLakeFlyer commented on #151
No muti-vehicle support in jmavsim SITL? I can never get Gazebo to run.

[2017-05-16 21:27] mhkabir commented on #151
@DonLakeFlyer Unfortunately not. What issues are you having with Gazebo? What OS?

[2017-05-16 21:31] dogmaphobic commented on #151
macOS Sierra.

[code]

[2017-05-16 21:36] DonLakeFlyer commented on #151
OSX. I either get all sorts of conflicting library problems or if I disregard it just hangs at boot.

[2017-05-16 21:38] mhkabir commented on #151
That's odd. If you follow https://github.com/osrf/homebrew-simulation/pull/198 on a clean setup, it should work normally. It worked for me on two different Sierra computers.

@LorenzMeier Any ideas on @dogmaphobic's errors?

[2017-05-16 21:40] DonLakeFlyer commented on #151
The most likely problem for me is that by the time you are trying to run both PX4 and ArduPilot SITL they start to stomp on each other with differing but similar dependency requirements.

[2017-05-16 21:41] mhkabir commented on #151
OK found the breaking commit : https://github.com/osrf/homebrew-simulation/pull/198/commits/6b1e8df6b53a9829daf37a752cc7b18bf49cb879.

It worked for me on commit https://github.com/osrf/homebrew-simulation/pull/198/commits/8fa14771d74fcb11bedfb1f5de9c01956be0275f.

[2017-05-20 09:26] LorenzMeier commented on #149
Thanks!

[2017-05-21 11:56] FantasyJXF commented on #149
I didn't know how to combine some commits together to a PR, now I know.

I won't submit more than one PR in the future.

I think that can be merged too.

Thank you, Lorenz.

[2017-05-21 23:12] hamishwillee commented on #149
Thanks. Looks good!

[2017-05-28 16:10] SalimTerryLi commented on #161
Sorry. I've been so careless that there are many problems...

[2017-05-28 20:29] mhkabir commented on #161
No issue. Please fix them, and we'll merge it :)

[2017-05-28 20:29] mhkabir commented on #161
@FantasyJXF please review

[2017-05-29 03:14] FantasyJXF commented on #161
Sprey for that . I' ll check it, I'd told them to first pull the request to me,Maybe I should emphasize it

[2017-05-29 03:18] SalimTerryLi commented on #161
@FantasyJXF Ohh... What should I do?

[2017-05-29 09:20] FantasyJXF commented on #161
please  contact me QQ  931026752

[2017-06-02 07:33] mhkabir commented on #170
?

[2017-06-07 05:58] bkueng commented on #177
This makes sense. Note to self: we have support for RPi w/o shield, we should add a separate page for that.

[2017-06-07 06:03] nicolaerosia commented on #177
@bkueng that was the idea, we need to factor out common bits for Raspberry Pi into a separate page, and leave specific setup to different pages (raspberry_pi_navio, raspberry_pi_standalone, etc)

[2017-06-07 06:03] nicolaerosia commented on #177
@bkueng could you share details on the setup without shield?

[2017-06-07 07:16] bkueng commented on #177
It's in this PR: https://github.com/PX4/Firmware/pull/7200. Make target `posix_rpi_cross_no_shield` and this describes the setup: https://github.com/PX4/Firmware/blob/f16b5dfea157c3ef1a18e972479d9dcd9cf01087/posix-configs/rpi/px4_no_shield.config#L1:L5 (I haven't tried it myself however).

[2017-06-07 14:20] airmind commented on #178
@dagar @LorenzMeier

[2017-06-07 15:03] mhkabir commented on #178
Nice!

[2017-06-07 16:31] airmind commented on #178
Thanks @dagar @mhkabir

[2017-06-08 00:14] hamishwillee commented on #178
Already merged, but here is some feedback/questions that might apply to an update. These might actually be for @dagar @mhkabir (e.g. where should files be located).

1. Is this a Pixhawk-series autopilot, and if so, which Pixhawk architecture is it compatible with.
2. There is no information on firmware update or airframe selection. Should at least comment on this, even if it is just to link to ou

[2017-06-08 01:05] dagar commented on #178
This is another board just like the pixhawk (px4fmu-v2) or pixhawk 3 (px4fmu-v4pro) that's fully supported in upstream PX4 (https://github.com/PX4/Firmware/tree/master/nuttx-configs). You can update it through QGC.

[2017-06-08 02:33] airmind commented on #178
@hamishwillee thanks a lot for the advise. will revise eventually @eflyinghi

[2017-06-08 02:44] mhkabir commented on #178
@dagar What do you think about adding a table on the build system page which lists all the CMake targets and links to the hardware-specific pages for each with a short description?

[2017-06-08 03:20] dagar commented on #178
Maybe list the make target within each board under the autopilot hardware section?

[2017-06-08 04:45] mhkabir commented on #178
Yeah that'd work too, but what I've seen is that people don't bother going to the hardware page.

[2017-06-12 01:24] hamishwillee commented on #178
@airmind YOu're welcome. I may well chase you up for some of this if/when I get time to start looking at Devguide improvements.

[2017-06-12 06:18] hamishwillee commented on #170
@uavp I'm closing this as I don't understand what error you are posting. Feel free to reopen and clarify.

[2017-06-19 05:07] hamishwillee commented on #104
You're absolutely right @majassow - thanks. This is fixed by as part of #193.